link(rel="stylesheet" type="text/css" href="../css/comments.css")

section
  div#comments
    - for (var x = 0; x < dbfict126.comments.length; x++)
      div.comment
        p#name #{dbfict126.comments[x].comment}
        p#comment #{dbfict126.comments[x].name}
  pre#add A D D  A  C O M M E N T 
  form(action='/newcom' method='POST')
    p Name
    input(type="text" name='name' required='required' id="namespace") 
    br
    p Your Comment
    textarea#newcom(name='comment', rows='10', tabindex='4', required='required') 
    br
    input(type='submit') 
    br


  include ../includes/comments.pug
